<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Financial Expense Analyzer</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>
<body>


<div th:replace="~{fragments/header :: header}">Header</div>

<div style="float: left">
    <div th:replace="~{fragments/menu :: menu}">Menu</div>
</div>

<div class="pagebody">
    <div class="pageheader">
        Data Entry

        <form id="addExpenseFormId" action="#" th:action="@{/data}" th:object="${newExpenseRecord}" method="post" >
            <div class="dataEntryPanel">

                <div class="dataEntryError">
                    <span th:if="${errorMsg ne null}" th:text="${errorMsg}" />
                </div>

                <div class="dataEntryLabel">
                    <div>Date</div>
                    <input class="dataEntryDateOfTr" type="text" th:field="*{transactionDate}" title="Date of transaction" />
                </div>
                <div class="dataEntryLabel">
                    <div>Description</div>
                    <input class="dataEntryDesc" type="text" th:field="*{description}"  title="Description of transaction" />
                </div>
                <div class="dataEntryLabel">
                    <div>Check<br />Number</div>
                    <input class="dataEntryCheckNum" type="text" th:field="*{checkNumber}"  title="Check number used in transaction" />
                </div>
                <div class="dataEntryLabel">
                    <div>Amount</div>
                    <input class="dataEntryAmt" type="text" th:field="*{amount}"  title="Amount of transaction" />
                </div>
                <div class="dataEntryLabel">
                    <div>Category</div>
                    <select class="dataEntryCatOver" th:field="*{categoryIdOverride}"  title="Category to assign to">
                        <option value="-1">Automatic</option>
                        <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}" />
                    </select>
                </div>
                <div class="dataEntryLabel">
                    <button type="submit" class="standardButton">Add</button>
                </div>




            </div>
        </form>

    </div>

    <hr />

    <div class="pageheader">
        Upload Data File
    </div>

    <div>
        <div>
            Select file:
        </div>
        <div>
            Select interpreter:
            <select>
                <option value="-1">A</option>
            </select>
        </div>

    </div>

</div>

<div style="clear: both;"></div>

<div th:replace="~{fragments/footer :: footer}">Footer</div>


</body>
</html>