<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Financial Expense Analyzer</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script th:inline="javascript">

function blurAll(){
    document.activeElement.blur();
}

function assignCategory(expenseId) {

    var selectObj = document.getElementById('catOverride' + expenseId);
    var categoryId = selectObj.value;

    $.ajax(
        {
            type: "GET",
            url: "/api/categoryoverride?expenseid="+expenseId+"&categoryid=" + categoryId,
            cache: false,
            success: function(result){
                blurAll();
                alert('Update successful');
            },
            error: function(result){
                alert('Unable to assign category override. Please try again.');
            }
        }
    );

}
    </script>

</head>
<body>

<div style="float: left">
    <div th:replace="~{fragments/menu :: menu}">Menu</div>
</div>

<div th:replace="~{fragments/header :: header}">Header</div>

<div class="pagebody">
    <div class="pageheader">
        Summary
    </div>

    <div class="selectTimePeriodPanel">

        <form id="selectTimePeriod" action="#" th:action="@{/}" th:object="${selectedReport}" method="post" >
            Select report period:
            <select class="" th:field="*{monthOfYear}">
                <option th:each="month : ${availableMonths}" th:value="${month.year + '/' + month.month + '/1'}" th:text="${month.month + '-' + month.year}" />
            </select>
            <button type="submit" class="standardButton">Go</button>
        </form>

    </div>

    <div class="reportPanel">
        <div th:if="${report ne null}">

            <div class="reportErrorsPanel">
                <div class="reportError" th:each="warning : ${report.warnings}" th:text="${warning}" />
            </div>

            <div class="reportCategoryPanel" th:each="map : ${report.expenseRecordsByCategory}">

                <div class="reportCategoryHeadingRow">
                    <span class="reportCategoryHeading" th:text="${map.key.name}" />
                    <span class="reportCategorySubtotalHeading" th:text="${report.categoriesBySubtotal.get(map.key)}" />
                </div>

                <div class="reportCategoryBody">
                    <div class="reportCategoryRecordPanel" th:each="record : ${map.value}">

                        <div class="recordItemTrDt" th:text="${record.transactionDate}" />

                        <div class="recordItemDesc" th:text="${record.description}" />

                        <div class="recordItemAmt" th:text="${record.amount}" />

                        <div class="recordItemChkNum" th:text="${record.checkNumber}" />

                        <div class="recordItemAssignTo">
                            Override Category:
                            <select th:id="${'catOverride'+record.id}" th:attr="onchange=|javascript:assignCategory(${record.id})|">
                                <option value="-1">&nbsp;</option>
                                <option
                                        th:each="assignCategory : ${categories}"
                                        th:value="${assignCategory.id}"
                                        th:text="${assignCategory.name}"
                                />
                            </select>
                        </div>

                    </div>
                </div>

            </div>

            <div class="reportCategoryPanel">
                <div class="reportCategoryHeadingRow">
                    <span class="reportCategoryHeading" th:text="${'Uncategorized'}" />
                    <span class="reportCategorySubtotalHeading" th:text="${report.unmatchedSubtotal}" />
                </div>

                <div class="reportCategoryBody">
                    <div class="reportCategoryRecordPanel" th:each="record : ${report.uncategorized}">

                        <div class="recordItemTrDt" th:text="${record.transactionDate}" />

                        <div class="recordItemDesc" th:text="${record.description}" />

                        <div class="recordItemAmt" th:text="${record.amount}" />

                        <div class="recordItemChkNum" th:text="${record.checkNumber}" />

                        <div class="recordItemAssignTo">
                            Override Category:
                            <select th:id="${'catOverride'+record.id}" th:attr="onchange=|javascript:assignCategory(${record.id})|">
                                <option value="-1">&nbsp;</option>
                                <option
                                        th:each="assignCategory : ${categories}"
                                        th:value="${assignCategory.id}"
                                        th:text="${assignCategory.name}"
                                />
                            </select>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

<div style="clear: both;"></div>

<div th:replace="~{fragments/footer :: footer}">Footer</div>

</body>
</html>