.header {
    padding-left: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: arial;
    font-size: 24pt;
    font-weight: bold;
    border-bottom: 1px solid black;
    background-color: rgb(112,146,190);
    color: rgb(255,242,0);
}

.pagebody {
    display: block;
    margin: 15px;
    margin-left: 215px;
}

.pageheader {
    display: block;
    font-family: arial;
    font-size: 16pt;
    font-weight: bold;
    margin-bottom: 15px;
}

.standardButton {
    background-color: red;
    padding: 10px;
    font-family: arial;
    font-size: 12pt;
    font-weight: bold;
    border: none;
    border-radius: 3px;
}

.selectTimePeriodPanel select {
    width: 200px;
    padding: 5px;
    font-family: arial;
    font-size: 12pt;
}

.selectTimePeriodPanel {
    font-family: arial;
    font-size: 10pt;
    font-weight: bold;
}


.reportPanel {
    padding-left: 20px;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid black;
}

.reportErrorsPanel {
    border-radius: 5px;
    background-color: rgba(237,28,36,.5);
    font-family: arial;
    font-size: 10pt;
    font-weight: bold;
}

.reportError {
}

.reportCategoryPanel {
    width: 60%;
}

.reportCategoryHeadingRow {
    color: yellow;
    background-color: rgb(100,130,170);
    padding: 3px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.reportCategoryHeadingRow:hover {
    background-color: rgb(80,120,150);
}

.reportCategoryHeading {

    font-family: arial;
    font-size: 14pt;
    font-weight: bold;
    float: left;
}

.reportCategorySubtotalHeading {

    font-family: arial;
    font-size: 14pt;
    font-weight: bold;
    text-align: right;
    float: right;
}

.reportCategoryBody {
    margin-left: 10px;
}

.reportCategoryRecordPanel {
    padding: 5px;
    border: 1px solid black;
    border-radius: 3px;
    margin: 2px;
}

.recordItemTrDt {
    display: inline-block;
    width: 200px;
}

.recordItemDesc {
    display: inline-block;
    width: 350px;
}

.recordItemAmt {
    display: inline-block;
    width: 100px;
}

.recordItemChkNum {
    display: inline-block;
    width: 100px;
}


.createcategorypanel {
    display: none;
}

.createcategorypanel input {
    width: 200px;
    padding: 3px;
    font-family: arial;
    font-size: 14pt;
}

.createcategorypanel button {
    background-color: red;
    padding: 10px;
    font-family: arial;
    font-size: 12pt;
    font-weight: bold;
    border: none;
    border-radius: 3px;
}



.categorymain {
    display: inline-block;
    width: 350px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    /*border: 5px solid rgb(196,233,242);*/
    background-color: rgb(196,233,242);
    border-radius: 5px;
    cursor: default;
}

.categorysubtitle {
    display: inline;
    font-family: arial;
    font-size: 14pt;
    margin-bottom: 10px;
    margin-top: 5px;
    padding: 5px;
    border-radius: 5px;
}

.categorysubtitleedittext {
    width: 250px;
    padding: 5px;
    font-family: arial;
    font-size: 14pt;
    font-weight: bold;
    border: 1px solid rgb(221,221,221);
    border-radius: 3px;
}

.categoryedit {
    display: inline;
    margin-left: 10px;
    cursor: pointer;
}

.categoryedit:hover {
    /*background-color: rgb(153,217,234);*/
}

.categorypatternsbody {
    margin-top: 10px;
    margin-left: 30px;
    width: 90%;
}

.categorypatterntitle {
    display: block;
    font-family: arial;
    font-size: 14pt;
    font-weight: bold;
}

.categorypattern {
    border: 1px solid rgb(0,162,232);
    border-radius: 3px;
    background-color: rgb(66,199,255);
    padding: 3px;
    margin-left: 10px;
    margin-top: 5px;
    display: inline-block;

}

.categorypattern:hover {
    border: 1px solid rgb(0,162,232);
    background-color: rgb(26,159,255);
    cursor: pointer;
}

.categorypatternunverified {
    border-radius: 3px;
    padding: 3px;
    background-color: yellow;
    margin-left: 10px;
    margin-top: 5px;
    display: inline-block;

}

.dataEntryPanel {

    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 30px;


}

.dataEntryError {
    font-family: arial;
    font-size: 10pt;
    font-weight: bold;
    color: red;
}

.dataEntryPanel button {
    background-color: red;
    padding: 10px;
    font-family: arial;
    font-size: 12pt;
    font-weight: bold;
    border: none;
    border-radius: 3px;
}

.dataEntryLabel {
    display: inline-block;
    font-family: arial;
    font-size: 10pt;
    font-weight: bold;
}

.dataEntryDateOfTr {
    width: 100px;
    padding: 5px;
    font-family: arial;
    font-size: 12pt;
}

.dataEntryDesc {
    width: 200px;
    padding: 5px;
    font-family: arial;
    font-size: 12pt;
}

.dataEntryCheckNum {
    width: 50px;
    padding: 5px;
    font-family: arial;
    font-size: 12pt;
}

.dataEntryAmt {
    width: 80px;
    padding: 5px;
    font-family: arial;
    font-size: 12pt;
}

.dataEntryCatOver {
    width: 200px;
    padding: 5px;
    font-family: arial;
    font-size: 12pt;
}

ul.menu {
    width: 200px;
    font-family: arial;
    font-size: 16pt;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.menu a {
    display: block;
    text-decoration: none;
    background-color: rgb(239,228,176);
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    border-bottom: 1px solid black;
    color: black;
}

ul.menu a:hover {
    background-color: white;
    color: black;
}